.has-before,
.has-after {
  position: relative;
  z-index: 1;

  &::before,&::after{
    content: "";
    position: absolute;
  }
}


// service 

.section {
    position: relative;
    padding-block: $section-space;
    overflow: hidden;
    z-index: 1;
  }

.bg-black-10{
  background-color: $smoky-black-2;
}

.grid-list {  //ul
  display: grid;
  gap: 40px;
}

.hover\:shine { 
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-0.08turn) translateX(-180%);
  }

  &:is(:hover, :focus-within)::after {
    transform: skewX(-0.08turn) translateX(275%);
    transition: $transition-3 ;
  }
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: $eerie-black-4;

}

.btn-text{
  color: $gold-crayola;
  margin-inline: auto;
  padding-block-end: 4px;
  text-transform: uppercase;
  letter-spacing: $letterSpacing-3;
  font-weight: $weight-bold;
  transition: $transition-1;

  &:hover{
    color: $white;
  }
}

.shape{
  display: none;
  position: absolute;
  max-width: max-content;
  z-index: -1;
}

.w-100{
  width: 100%;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/////////
/// Reservation
///////////

.input-field{
  background-color: $eerie-black-2;
  color: $white;
  border: 1px solid $white-alpha-10;
  padding: 10px 20px;
  height: 56px;
  margin-block-end: 20px;
  outline: none;
  transition: border-color $transition-2;

  &::placeholder{
    color: inherit;
  }

  &:focus{
    border-color: $gold-crayola;
  }
}

.icon-wrapper {
  position: relative;
  margin-block-end: 20px;

  .input-field {
    margin-block-end: 0;
    padding-inline-start: 40px;
    appearance: none;
    cursor: pointer;
    
  }

  ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    --ionicon-stroke-width: 50px;
    pointer-events: none;
    right: 10px;
    left: 15px;
    
    // &:first-child{
     
    // }

    // &:last-child{
      
    // }
  }
  
}
