
.btn {
    position: relative;
    color: $gold-crayola;
    font-size: $fontSize-label-2;
    font-weight: $weight-bold;
    text-transform: uppercase;
    // letter-spacing: $letterSpacing-5;
    max-width: max-content;
    border: 2px solid $gold-crayola;
    padding: 12px 45px;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 200%;
        height: 200%;
        border-radius: $radius-circle;
        background-color: $gold-crayola;
        transition: $transition-2;
        z-index: -1;
        
      }

    .text{transition: $transition-1;}

    // .text-2{

    //     position: absolute;
    //     top: 100%;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     min-width: max-content;
        
    // }

    &:hover::before{
        bottom: -50%;
        
    }
    &:hover{
        .text-1{
            // transform: translateY(-40px);
            color:$smoky-black-1;
            z-index: 50;
        }

        // .text-2{
        //     // top: 50%;
        //     // transform: translate(-50%, -50%);
                
        // }
    }
}

.btn-secondary {
  background-color: $gold-crayola;
  color: $black;
  
  &:hover{
    .text-1{
    color: $white;
    z-index: 50;
    }
  }
}

.btn-secondary::before { background-color: $smoky-black-1; }

// .btn-secondary .text-2 { color: $white; }