.hover-underline{
    position: relative;
    max-width: max-content;
    &::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    border-block: 1px solid $gold-crayola;
    transform: scaleX(0.2); 
    opacity: 0;
    transition: $transition-2;
    }

    &:is(:hover, :focus-visible)::after{
        transform: scaleX(1); //az 0.2 mirese be 1 
        opacity: 1;
    }

}
