

.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4{
    color: $white;
    font-family: $fontFamily-forum;
    font-weight: $weight-regular;
    line-height: $lineHeight-2;
  
}

.display-1 {
  font-size: $fontSize-display-1;
  line-height: $lineHeight-1;
}

.headline-1 { font-size: $fontSize-headline-1; }

.headline-2 {
  font-size: $fontSize-headline-2;
  line-height: $lineHeight-6;
}

.title-1 { font-size: $fontSize-title-1; }

.title-2 { font-size: $fontSize-title-2; }

.title-3 { font-size: $fontSize-title-3; }

.title-4 { font-size: $fontSize-title-4; }

.body-1 {
  font-size: $fontSize-body-1;
  line-height: $lineHeight-6;
}

.body-2 {
  font-size: $fontSize-body-2;
  line-height: $lineHeight-4;
}

.body-3 { font-size: $fontSize-body-3; }

.body-4 { font-size: $fontSize-body-4; }

.label-1 { font-size: $fontSize-label-1; }

.label-2 { font-size: $fontSize-label-2; }

