.subscription{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub_text{
    font-size: $fontSize-title-1;
    
}

.sub-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 65px;
    font-size: 1.8rem;
}

.sub_img1{
    position: absolute;
    top: 45%;
    animation: move 5s linear infinite;
    
}

.sub_img2{
    position: absolute;
    left: 0;
    top:2%;
    transform: translate(-8%);
}