
.footer-top { margin-block-end: 70px; }

// .footer-brand{
//     position: relative;
//     padding: 50px 40px;
//     background: url("../../assets/images/footer-form-bg.png");
//     background-position: center top;
//     background-repeat: repeat;

//     ::before, ::after{
//         top: 0;
//         width: 15px;
//         height: 100%;
//         background-image: url("../../assets/images/footer-form-pattern.svg");
    
//     }
// }
    
// .footer-brand::before { left: 0; }

// .footer-brand::after { right: 0; }


.footer-brand {
    position: relative;
    padding: 50px 40px;
    background: $smoky-black-1 url("../../assets/images/footer-form-bg.png");
    background-position: center top;
    background-repeat: repeat;
}
  
  .footer-brand::before,
  .footer-brand::after {
    top: 0;
    width: 15px;
    height: 100%;
    background-image: url("../../assets/images/footer-form-pattern.svg");
  }
  
  .footer-brand::before { left: 0; }
  
  .footer-brand::after { right: 0; }


.footer-brand{
    .logo{
      
            max-width: max-content;
            margin-inline: auto;
            margin-block-end: 40px;
    
    }

    .body-4 , .label-1{
        color: $quick-silver;
        line-height: $lineHeight-3;
    }

    .contact-link{
        margin-block: 6px;
        transition: $transition-1;

        &:hover{
            color: $gold-crayola
        }
    }

    .wrapper{
        display: flex;
        justify-content: center;
        gap: 2px;
        margin-block: 40px 25px;
    }

    .label-1{
        margin-block: 10px 30px;

        .span{
            display: inline;
            color: $white;
        }
    }

    .icon-wrapper{
        .input-field{
            cursor: text;
        }
    }

    // .btn { min-width: 100%; }
}

.footer-list{
    direction: grid;
    gap: 20px;
}

.footer-link{
    color: $quick-silver;
    font-weight: $weight-bold;
    text-transform: uppercase;
    letter-spacing: $letterSpacing-5;
    margin:auto;
    transition: $transition-1;
    max-width: 100%;
    // height: 50px;
    padding: 10px;
    

    &:hover{
        color: $gold-crayola;
        background-color: $white-alpha-10;
    }
}

.input_modal{
    width: 50px;
    background-color: darkcyan;
    padding: auto;
}

.copyright {
    color: $quick-silver;
    line-height: $lineHeight-3;
  }

.back-top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $gold-crayola;
    color: $smoky-black-1;
    width: 50px;
    height: 50px;
    border-radius: $radius-circle;
    display: grid;
    place-items: center;
    transition: $transition-1;
    opacity: 0;
    visibility: hidden;
    z-index: 4;

    &:hover{
        background-color: $white;
        color: $gold-crayola;
    }


    &.active{
        opacity: 1;
        visibility: visible;
    }
}