

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gold-crayola;
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: $transition-2;
    
}   

.preload.loaded > * {
    opacity: 0;
}

.preload > * {  //all child preload classes of body
    transition: $transition-1;
    
}


.preload.loaded{
    transition-delay: 250ms;
    transform: translateY(100%);
}

.circle{
 
    width: 112px;
    height: 112px;
    border-radius: $radius-circle;
    border: 3px solid $white;
    border-top-color: $smoky-black-3;
    margin-bottom: 45px;
    animation: rotate360 1s linear infinite;
}

.preload .text{
    background-image: $loading-text-gradient;
    background-size: 500%;
    font-size: calc(2rem + 3vw);
    font-weight: $weight-bold;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px $eerie-black-3;
    animation: loadingText linear 2s infinite;

}